<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
    Drone Control Test Page
    <div>
      <a href="#" onclick="">
        Drone init
      </a>
      <a href="#" onclick="">
          Drone init
      </a>
    </div>

</body>

</html>